/*
   Saturday, November 10, 201810:56:57 AM
   User: 
   Server: DESKTOP-62V0Q5Q
   Database: NewBangazon
   Application: 
*/

/* To prevent any potential data loss issues, you should review this script in detail before running it outside the context of the database designer.*/
BEGIN TRANSACTION
SET QUOTED_IDENTIFIER ON
SET ARITHABORT ON
SET NUMERIC_ROUNDABORT OFF
SET CONCAT_NULL_YIELDS_NULL ON
SET ANSI_NULLS ON
SET ANSI_PADDING ON
SET ANSI_WARNINGS ON
COMMIT
BEGIN TRANSACTION
GO
CREATE TABLE dbo.Tmp_PaymentTypes
	(
	Id int NOT NULL IDENTITY (1, 1),
	Name varchar(50) NOT NULL
	)  ON [PRIMARY]
GO
ALTER TABLE dbo.Tmp_PaymentTypes SET (LOCK_ESCALATION = TABLE)
GO
SET IDENTITY_INSERT dbo.Tmp_PaymentTypes ON
GO
IF EXISTS(SELECT * FROM dbo.PaymentTypes)
	 EXEC('INSERT INTO dbo.Tmp_PaymentTypes (Id)
		SELECT Id FROM dbo.PaymentTypes WITH (HOLDLOCK TABLOCKX)')
GO
SET IDENTITY_INSERT dbo.Tmp_PaymentTypes OFF
GO
ALTER TABLE dbo.Orders
	DROP CONSTRAINT FK__Orders__PaymentT__5629CD9C
GO
ALTER TABLE dbo.CustomersPaymentTypes
	DROP CONSTRAINT FK__Customers__Payme__5535A963
GO
DROP TABLE dbo.PaymentTypes
GO
EXECUTE sp_rename N'dbo.Tmp_PaymentTypes', N'PaymentTypes', 'OBJECT' 
GO
ALTER TABLE dbo.PaymentTypes ADD CONSTRAINT
	PK__PaymentT__3214EC07AF4D1F62 PRIMARY KEY CLUSTERED 
	(
	Id
	) WITH( STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]

GO
COMMIT
select Has_Perms_By_Name(N'dbo.PaymentTypes', 'Object', 'ALTER') as ALT_Per, Has_Perms_By_Name(N'dbo.PaymentTypes', 'Object', 'VIEW DEFINITION') as View_def_Per, Has_Perms_By_Name(N'dbo.PaymentTypes', 'Object', 'CONTROL') as Contr_Per BEGIN TRANSACTION
GO
ALTER TABLE dbo.CustomersPaymentTypes ADD CONSTRAINT
	FK__Customers__Payme__5535A963 FOREIGN KEY
	(
	PaymentTypeId
	) REFERENCES dbo.PaymentTypes
	(
	Id
	) ON UPDATE  NO ACTION 
	 ON DELETE  NO ACTION 
	
GO
ALTER TABLE dbo.CustomersPaymentTypes SET (LOCK_ESCALATION = TABLE)
GO
COMMIT
select Has_Perms_By_Name(N'dbo.CustomersPaymentTypes', 'Object', 'ALTER') as ALT_Per, Has_Perms_By_Name(N'dbo.CustomersPaymentTypes', 'Object', 'VIEW DEFINITION') as View_def_Per, Has_Perms_By_Name(N'dbo.CustomersPaymentTypes', 'Object', 'CONTROL') as Contr_Per BEGIN TRANSACTION
GO
ALTER TABLE dbo.Orders ADD CONSTRAINT
	FK__Orders__PaymentT__5629CD9C FOREIGN KEY
	(
	PaymentTypeId
	) REFERENCES dbo.PaymentTypes
	(
	Id
	) ON UPDATE  NO ACTION 
	 ON DELETE  NO ACTION 
	
GO
ALTER TABLE dbo.Orders SET (LOCK_ESCALATION = TABLE)
GO
COMMIT
select Has_Perms_By_Name(N'dbo.Orders', 'Object', 'ALTER') as ALT_Per, Has_Perms_By_Name(N'dbo.Orders', 'Object', 'VIEW DEFINITION') as View_def_Per, Has_Perms_By_Name(N'dbo.Orders', 'Object', 'CONTROL') as Contr_Per 